 /* The navigation bar */
 @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');



 /* Main content */
 .main {
   margin-top: 30px;
   /* Add a top margin to avoid content overlay */
 }

 nav {
  position: fixed;
  right: 1%;
   display: block;
/* padding-top: 10px; */
   text-align: right;
   font-size: 16px;
   /* background-color: white; */
 }

 ul li {
  /* background-color: white; */
   top: 30px;
   list-style: none;
   margin: 0 auto;
   /* border-left: 2px solid #3ca0e7; */
   display: inline-block;
   /* padding: 0 10px; */
   position: relative;
   text-decoration: none;
   text-align: center;
   font-family: 'Share Tech Mono', monospace;
 }

 .current-menu-item {
   color: red;
 }


 li a {
   padding: 20px 16px;
   color: black;
 }


 li a:hover {
   background: #ddd;
   color: orange;
   transition: 0.4s;
 }

 li:hover {
   cursor: pointer;
 }

 ul li ul {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   padding-left: 0.2px;
   padding-bottom: 20px;
   top: 30px;
   display: none;
   background: rgba(255, 255, 255);
 }

 ul li:hover>ul,
 ul li ul:hover {
   transform: 1s;
   visibility: visible;
   opacity: 1;
   display: block;
   min-width: 150px;
   text-align: left;
   /* padding-top: 10px; */
   box-shadow: 0px 3px 5px -1px #ddd;
 }

 ul li ul li {
   /* clear: both; */
   top: 28px;
   padding-bottom: 20px;
   width: 100%;
   text-align: center;
   margin-bottom: 13px;
   border-style: none;
 }

 ul li ul li a:hover {
   left: 60px;
   transition: all 0.3s ease;
 }


 a {

   text-decoration: none;
 }

 a:hover {
   color: #3CA0E7;
 }


 ul li ul li a {
   transition: all 0.5s ease;
 }


 .bgvideo {
   position: absolute;
   right: 0;
   bottom: -200;
   min-width: 100%;
   min-height: 100%;
   z-index: -2;
   filter: blur(1px);

 }

 .Stories-Heading span,
 h3 {
   font-family: 'Patua One', cursive;
 }

 a {
   text-decoration: none;
 }

 nav {
   list-style: none;
 }

 /* body {
   margin: 0px;
   padding: 0px;
 } */



 #Stories {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top:120px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
   /* background-color: black; */
 }

 .Stories-Heading {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .Stories-Heading span {
   text-shadow: 3px 4px 5px #000;
   color: orange;
   font-size: 100px;
   text-align: center;
 }

 .stories-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px 0px;
   flex-wrap: wrap;
   padding: 20px;
 }

 .stories-box {
   width: 337px;
   background-color: white;
   margin: 6px;
   border-radius: 5px;
 }

 .stories-img {
   width: 100%;
   height: auto;
 }

 .stories-img:hover {
   filter: grayscale(80%);
   transform: scale(1.5);
   z-index: 5;
 }

 .stories-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   border-radius: 5px;
   z-index: 1;
 }

 .stories-text {
   padding: 30px;
   display: flex;
   flex-direction: column;
 }

 .stories-text span {
   color: orange;
   font-size: 0.9rem;
   font-family: 'Share Tech Mono', monospace
 }

 .stories-text .test_link {
   font-size: 1.3rem;
   font-weight: 500;
   color: black;
   /* z-index: ; */
 }

 .stories-text .test_link:hover {
   color: rgb(197, 138, 30);
   transition: all ease 0.3s;
 }

 .stories-text p {
   color: grey;
   font-size: 0.9rem;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 20px 0px;
 }

 .stories-text a {
   color: black;
 }

 .stories-text a:hover {
   color: orange;
 }